#contact iframe
{
    width: 100%;
}
.div2 img{
    width: 100%;
}

.div2 h5, .div2 p{
    margin: 20px;
}

.div2{
    border: 1px solid cornflowerblue;
}

.div1{
   padding: 10px 22px; 
   margin: 40px 0px 20px;
   font-size: 25px;
   border-radius: 5px;

}

.div1 i{
    float: right;
}

.div_movie span{
color: rgba(255, 255, 0, 0.61);
}

.div_movie h5, .div_movie p{
    margin: 20px ;
}

.class_div{
    margin-bottom: 50px;
}